{% extends 'base.html' %}
<html>
    {% block content %}

    <h3 style="text-align:center;">Modify Product </h3><br><br>
<div class="container">
  <form method='POST'>
    <div class="row">
        <div class="input-field col s3">
          <input name='name'  id="name" value="{{ PRODUCT.name }}" type="text">
          <label for="name">Name</label>
        </div>

        <div class="input-field col s3">
          <input name='quantity'  id="quantity" value="{{ PRODUCT.quantity }}" type="text">
          <label for="quantity">Quantity</label>
        </div>

        <div class="input-field col s3">
          <input name='price'  id="price" value="{{ PRODUCT.price }}" type="text">
          <label for="price">Price</label>
        </div>

    <button class="btn waves-effect waves-light col s3" type="submit" style="display:inline-block;">Save</button>
    </div>
   </form></div>
    {% endblock %}
</html>