{% extends 'base.html' %}
{% block content %}
<form method='POST'>
    <div class="row">
        <div class="input-field col s6">
          <input name='task_name' placeholder="Placeholder" id="task_name" type="text">
          <label for="task_name">Task Name</label>
        </div>
    </div>
     <div class="row">
        <div class="input-field col s6">
          <input name='duration' placeholder="Placeholder" id="duration" type="number">
          <label for="duration">Duration</label>
        </div>
    </div>
     <div class="row">
        <div class="input-field col s6">
          <input name='place' placeholder="Placeholder" id="place" type="text">
          <label for="place">Place</label>
        </div>
    </div>
    <button type="submit">Submit</button>

</form>
<h4>{{ TODO }}</h4>
{% endblock %}
